<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../fragments/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../fragments/header'); %>
    </header>

    <main>
        <div class="container border">
            <div class="row g-3">
                <h1>Zapping desafio de codigo</h1>
                <p>Streaming</p>
            </div>
            <br>
            <br>
        </div>
    </main>
    <br>
    <footer>
        <%- include('../fragments/footer'); %>
    </footer>

</body>

</html>