<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../fragments/head'); %>
</head>
<body class="container">

<header>
    <%- include('../fragments/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Player <%= nombre%> creado</h1>
        <br><br>
        ¿Iniciar sesión? <a class="nav-link" href="/login">clic aquí</a>
    </div>
</main>

<footer>
    <%- include('../fragments/footer'); %>
</footer>

</body>
</html>